updated-at
private.zsh
*.zwc
history
user-*
zcompdump-*
nvm/
omz/
defer/
fnvm/
nvm/
omz/
pyenv/
rustup/
powerlevel10k/
zsh-syntax-highlighting/
zsh-autosuggestions
bin/**
codename
codename.colored
zsh-autosuggestions/

