updated-at
private.zsh
*.zwc
history
user-before.zsh
user-after.zsh
user-lazy.zsh
user-p10k.zsh
zcompdump-*
nvm/
omz/
defer/
fnvm/
nvm/
omz/
pyenv/
rustup/
powerlevel10k/
zsh-syntax-highlighting/
zsh-autosuggestions
bin/**
codename
codename.colored
zsh-autosuggestions/

